openapi: 3.0.1
info:
  title: Dhaam Platform API
  description: |
    Unified OpenAPI 3.0 specification for Dhaam Platform.
    
    This specification aggregates multiple microservices:
    - **Catalog Service**: Category and item management (products, modifiers, variants, bundles)
    - **Order Service**: Order and quotation management
    - **User Profile Service**: User profiles, customers, merchants, stores, locations (regions, geofences, outlets)
    
    For detailed service-specific documentation, refer to:
    - catalog.yml - Catalog Service endpoints and schemas
    - order.yml - Order Service endpoints and schemas
    - user_profile.yml - User Profile Service endpoints and schemas
  version: 2.0.0
  contact:
    name: Dhaam API Support
    email: support@dhaam.ai

servers:
  - url: https://api.dhaam.ai
    description: Production server
  - url: https://staging-api.dhaam.ai
    description: Staging server
  - url: https://{{environment}}.api.dhaam.ai
    description: Environment-based server
    variables:
      environment:
        enum: [dev, staging, test]
        default: dev

security:
  - BearerAuth: []
  - ApiKeyAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token authentication
    
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API Key authentication

  parameters:
    AcceptLanguageHeader:
      $ref: './catalog.yml#/components/parameters/AcceptLanguageHeader'
    
    XUserIdHeader:
      $ref: './catalog.yml#/components/parameters/XUserIdHeader'
    
    XTenantIdHeader:
      $ref: './catalog.yml#/components/parameters/XTenantIdHeader'
    
    CategoryIdPath:
      $ref: './catalog.yml#/components/parameters/CategoryIdPath'
    
    ItemIdPath:
      $ref: './catalog.yml#/components/parameters/ItemIdPath'
    
    OrderIdPath:
      $ref: './order.yml#/components/parameters/OrderIdPath'

  schemas:
    # ==================== CATALOG SERVICE SCHEMAS ====================
    # Reference from catalog.yml
    Category:
      $ref: './catalog.yml#/components/schemas/Category'
    
    BusinessCategory:
      $ref: './catalog.yml#/components/schemas/BusinessCategory'
    
    Item:
      $ref: './catalog.yml#/components/schemas/Item'
    
    AttachedItem:
      $ref: './catalog.yml#/components/schemas/AttachedItem'
    
    ItemExtended:
      $ref: './catalog.yml#/components/schemas/ItemExtended'
    
    ItemTemplate:
      $ref: './catalog.yml#/components/schemas/ItemTemplate'
    
    Tag:
      $ref: './catalog.yml#/components/schemas/Tag'
    
    CategoryRequest:
      $ref: './catalog.yml#/components/schemas/CategoryRequest'
    
    CreateItemRequest:
      $ref: './catalog.yml#/components/schemas/CreateItemRequest'
    
    MapProductIds:
      $ref: './catalog.yml#/components/schemas/MapProductIds'
    
    PricingRequest:
      $ref: './catalog.yml#/components/schemas/PricingRequest'
    
    # ==================== ORDER SERVICE SCHEMAS ====================
    # Reference from order.yml
    Order:
      $ref: './order.yml#/components/schemas/Order'
    
    OrderItem:
      $ref: './order.yml#/components/schemas/OrderItem'
    
    OrderEvent:
      $ref: './order.yml#/components/schemas/OrderEvent'
    
    QuoteRequest:
      $ref: './order.yml#/components/schemas/QuoteRequest'
    
    CreateOrderRequest:
      $ref: './order.yml#/components/schemas/CreateOrderRequest'
    
    OrderStatusUpdateRequest:
      $ref: './order.yml#/components/schemas/OrderStatusUpdateRequest'
    
    GetOrdersRequest:
      $ref: './order.yml#/components/schemas/GetOrdersRequest'
    
    OrderFilters:
      $ref: './order.yml#/components/schemas/OrderFilters'
    
    OrderSort:
      $ref: './order.yml#/components/schemas/OrderSort'
    
    # ==================== USER PROFILE SERVICE SCHEMAS ====================
    # Reference from user_profile.yml
    UserDetails:
      $ref: './user_profile.yml#/components/schemas/UserDetails'
    
    MerchantProfile:
      $ref: './user_profile.yml#/components/schemas/MerchantProfile'
    
    Region:
      $ref: './user_profile.yml#/components/schemas/Region'
    
    Geofence:
      $ref: './user_profile.yml#/components/schemas/Geofence'
    
    Outlet:
      $ref: './user_profile.yml#/components/schemas/Outlet'
    
    Preferences:
      $ref: './user_profile.yml#/components/schemas/Preferences'
    
    Address:
      $ref: './user_profile.yml#/components/schemas/Address'
    
    BusinessConfig:
      $ref: './user_profile.yml#/components/schemas/BusinessConfig'
    
    TenantRegisterRequest:
      $ref: './user_profile.yml#/components/schemas/TenantRegisterRequest'
    
    StoreRegisterRequest:
      $ref: './user_profile.yml#/components/schemas/StoreRegisterRequest'
    
    AddCustomerRequest:
      $ref: './user_profile.yml#/components/schemas/AddCustomerRequest'
    
    UpdateProfileRequest:
      $ref: './user_profile.yml#/components/schemas/UpdateProfileRequest'
    
    CustomerListRequest:
      $ref: './user_profile.yml#/components/schemas/CustomerListRequest'
    
    MerchantListRequest:
      $ref: './user_profile.yml#/components/schemas/MerchantListRequest'
    
    SettingsRequest:
      $ref: './user_profile.yml#/components/schemas/SettingsRequest'
    
    AddRegionRequest:
      $ref: './user_profile.yml#/components/schemas/AddRegionRequest'
    
    AddGeofenceRequest:
      $ref: './user_profile.yml#/components/schemas/AddGeofenceRequest'
    
    AddOutletRequest:
      $ref: './user_profile.yml#/components/schemas/AddOutletRequest'
    
    # ==================== SHARED RESPONSE SCHEMAS ====================
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          description: Response payload (varies by endpoint)
        meta:
          type: object
          description: Metadata (pagination, timestamps, etc.)

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
            message:
              type: string
              description: Human-readable error message

paths:
  # ==================== CATALOG SERVICE ENDPOINTS ====================
  # Reference from catalog.yml
  /catalog/v1/category:
    $ref: './catalog.yml#/paths/~1category'
  
  /catalog/v1/category/{id}:
    $ref: './catalog.yml#/paths/~1category~1{id}'
  
  /catalog/v1/category/list:
    $ref: './catalog.yml#/paths/~1category~1list'
  
  /catalog/v1/category/delete/{id}:
    $ref: './catalog.yml#/paths/~1category~1delete~1{id}'
  
  /catalog/v1/business-categories:
    $ref: './catalog.yml#/paths/~1business-categories'
  
  /catalog/v1/item:
    $ref: './catalog.yml#/paths/~1item'
  
  /catalog/v1/item/{id}:
    $ref: './catalog.yml#/paths/~1item~1{id}'
  
  /catalog/v1/item/list:
    $ref: './catalog.yml#/paths/~1item~1list'
  
  /catalog/v1/item/delete/{id}:
    $ref: './catalog.yml#/paths/~1item~1delete~1{id}'
  
  /catalog/v1/item/tags:
    $ref: './catalog.yml#/paths/~1item~1tags'
  
  /catalog/v1/configs:
    $ref: './catalog.yml#/paths/~1configs'
  
  # ==================== ORDER SERVICE ENDPOINTS ====================
  # Reference from order.yml
  /order/v1/quote:
    $ref: './order.yml#/paths/~1quote'
  
  /order/v1/create:
    $ref: './order.yml#/paths/~1create'
  
  /order/v1/list:
    $ref: './order.yml#/paths/~1list'
  
  /order/v1/{id}:
    $ref: './order.yml#/paths/~1{id}'
  
  /order/v1/export:
    $ref: './order.yml#/paths/~1export'
  
  # ==================== USER PROFILE SERVICE ENDPOINTS ====================
  # Reference from user_profile.yml
  /profile/v1/health:
    $ref: './user_profile.yml#/paths/~1health'
  
  /profile/v1/business/info:
    $ref: './user_profile.yml#/paths/~1business~1info'
  
  /profile/v1/languages:
    $ref: './user_profile.yml#/paths/~1languages'
  
  /profile/v1/tenant/register:
    $ref: './user_profile.yml#/paths/~1tenant~1register'
  
  /profile/v1/tenant/login:
    $ref: './user_profile.yml#/paths/~1tenant~1login'
  
  /profile/v1/store/register:
    $ref: './user_profile.yml#/paths/~1store~1register'
  
  /profile/v1/store/login:
    $ref: './user_profile.yml#/paths/~1store~1login'
  
  /profile/v1/store/list:
    $ref: './user_profile.yml#/paths/~1store~1list'
  
  /profile/v1/store/status:
    $ref: './user_profile.yml#/paths/~1store~1status'
  
  /profile/v1/store/delete:
    $ref: './user_profile.yml#/paths/~1store~1delete'
  
  /profile/v1/store/configuration:
    $ref: './user_profile.yml#/paths/~1store~1configuration'
  
  /profile/v1/store/settings:
    $ref: './user_profile.yml#/paths/~1store~1settings'
  
  /profile/v1/store/delivery-surge/{id}:
    $ref: './user_profile.yml#/paths/~1store~1delivery-surge~1{id}'
  
  /profile/v1/customer/add:
    $ref: './user_profile.yml#/paths/~1customer~1add'
  
  /profile/v1/customer/list:
    $ref: './user_profile.yml#/paths/~1customer~1list'
  
  /profile/v1/customer/{id}:
    $ref: './user_profile.yml#/paths/~1customer~1{id}'
  
  /profile/v1/customer/{id}/status:
    $ref: './user_profile.yml#/paths/~1customer~1{id}~1status'
  
  /profile/v1/customer/{id}/referral-code:
    $ref: './user_profile.yml#/paths/~1customer~1{id}~1referral-code'
  
  /profile/v1/customer/delete/{id}:
    $ref: './user_profile.yml#/paths/~1customer~1delete~1{id}'
  
  /profile/v1/customer/events/{id}:
    $ref: './user_profile.yml#/paths/~1customer~1events~1{id}'
  
  /profile/v1/customer/{id}/preferences:
    $ref: './user_profile.yml#/paths/~1customer~1{id}~1preferences'
  
  /profile/v1/customer/add-address:
    $ref: './user_profile.yml#/paths/~1customer~1add-address'
  
  /profile/v1/regions:
    $ref: './user_profile.yml#/paths/~1regions'
  
  /profile/v1/regions/list:
    $ref: './user_profile.yml#/paths/~1regions~1list'
  
  /profile/v1/regions/{id}:
    $ref: './user_profile.yml#/paths/~1regions~1{id}'
  
  /profile/v1/regions/{id}/status:
    $ref: './user_profile.yml#/paths/~1regions~1{id}~1status'
  
  /profile/v1/regions/{id}/delete:
    $ref: './user_profile.yml#/paths/~1regions~1{id}~1delete'
  
  /profile/v1/geofences:
    $ref: './user_profile.yml#/paths/~1geofences'
  
  /profile/v1/geofences/list:
    $ref: './user_profile.yml#/paths/~1geofences~1list'
  
  /profile/v1/geofences/{id}:
    $ref: './user_profile.yml#/paths/~1geofences~1{id}'
  
  /profile/v1/geofences/{id}/status:
    $ref: './user_profile.yml#/paths/~1geofences~1{id}~1status'
  
  /profile/v1/geofences/{id}/delete:
    $ref: './user_profile.yml#/paths/~1geofences~1{id}~1delete'
  
  /profile/v1/outlets:
    $ref: './user_profile.yml#/paths/~1outlets'
  
  /profile/v1/outlets/list:
    $ref: './user_profile.yml#/paths/~1outlets~1list'
  
  /profile/v1/outlets/{id}:
    $ref: './user_profile.yml#/paths/~1outlets~1{id}'
  
  /profile/v1/outlets/{id}/status:
    $ref: './user_profile.yml#/paths/~1outlets~1{id}~1status'
  
  /profile/v1/outlets/{id}/delete:
    $ref: './user_profile.yml#/paths/~1outlets~1{id}~1delete'

tags:
  - name: Catalog - Category
    description: Category management endpoints (from catalog.yml)
  - name: Catalog - Item
    description: Item management endpoints (from catalog.yml)
  - name: Catalog - Config
    description: Configuration endpoints (from catalog.yml)
  - name: Order - Quote
    description: Quotation management endpoints (from order.yml)
  - name: Order - Management
    description: Order management endpoints (from order.yml)
  - name: Profile - System
    description: Health check and system endpoints (from user_profile.yml)
  - name: Profile - Config
    description: Configuration endpoints (from user_profile.yml)
  - name: Profile - Authentication
    description: Authentication endpoints (from user_profile.yml)
  - name: Profile - Customer Management
    description: Customer management endpoints (from user_profile.yml)
  - name: Profile - Store Management
    description: Store/Merchant management endpoints (from user_profile.yml)
  - name: Profile - Location - Region
    description: Region management endpoints (from user_profile.yml)
  - name: Profile - Location - Geofence
    description: Geofence management endpoints (from user_profile.yml)
  - name: Profile - Location - Outlet
    description: Outlet management endpoints (from user_profile.yml)
